@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
body{
color:#303030;
font-family: 'Roboto', sans-serif !important;
}	
#wrapper{
 width:1170px;
 margin:auto;
}

#header{text-align:center; padding:50px 10px;}

#footer{text-align:center; padding:50px 10px;}

.akcii-wrap, .akcii-all {
display:flex; 
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.akcii-all{
padding: 15px 0px;
border-bottom:solid 1px #e4e4e4;
}

.akcii-all-header{
font-weight:700;
font-size:32px;
line-height:36px;
letter-spacing:0.3px;
}

.akcii-all-header::first-letter{
	color:#ff4081;
}

.akcii-all-button{
text-transform: uppercase;
font-weight: 400;
font-size: 11px;
line-height: 11px;
letter-spacing: 0.5px;
color: #fff;
text-decoration: none;
background-color: #587bc6;
border-radius: 8px;
padding: 10px 10px 10px 35px;
}
.akcii-all-button span{
width:10px;
height:10px;
display:inline-block;
margin-left:10px;
background-repeat:no-repeat;
background-image: url(../img/arrov.png);
}
.akciiya-container{
background-color:#dfecf0;
border-radius:8px;
border:solid #fff 3px;
box-shadow: 0px 17px 24px 0px rgba(138, 149, 216, 0.11);
margin:24px 0 2px 0;
background-repeat:no-repeat;
background-position: right center;
background-size:contain;
padding-right:19px;
}
.akcii-left-side{
width:286px;
padding:36px 0px 18px 25px;
min-height:285px;
}
.ak_num1, .ak_num4{
max-width:470px;
width:100%;
}
.ak_num2, .ak_num3{
max-width:669px;
width:100%;
}

.akcii-label, .akcii-old-price, .akcii-new-price{
font-family: 'PT Sans', sans-serif;
font-weight:700;
}

.akcii-label{
width:70px;
height:20px;
text-transform:uppercase;
padding:4px 20px 4px 10px;
font-size:12px;
line-height:12px;
letter-spacing:1px;
color:#fff;
background-size:auto;
background-repeat:no-repeat;
margin-bottom:8px;
background-image: url(../img/label.png);
}

.akcii-card-header{
font-weight:700;
font-size:22px;
line-height:30px;
max-width:225px;
margin-bottom:48px;

}
.akcii-card-header a{
text-decoration:none;
color:#303030;
}
.akcii-card-header a:hover{
color:#ff4081;
}
.akcii-old-price{
font-size:18px;
line-height:45px;	
position: relative;
text-decoration: none;
display:inline-block;
padding:0 20px 0 10px;
}
.akcii-old-price:before {
content: "";
border-bottom: 2px solid #ff4081;
position: absolute;
top: 0;
left: 0;    
width: 100%;
height: 50%;
}

.akcii-new-price{
font-size:28px;
line-height:28px;	
padding:10px 9px 8px 9px;
color:#fff;
background-size:contain;
background-repeat:no-repeat;
background-position:left center;
background-image: url(../img/new-price.png);

}
.akcii-new-price span{
font-size:14px;
}
@media screen and (max-width : 1199px) {
#wrapper{
 width:960px;
}
.ak_num1, .ak_num4{
max-width:450px;
}
.ak_num2, .ak_num3{
max-width:450px;
}
}
@media screen and (max-width : 1199px) and (min-width : 992px) {
.akcii-left-side{
	background: rgb(255,255,255);
background: -moz-linear-gradient(90deg, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.6) 85%, rgba(255,255,255,0) 100%);
background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.6) 85%, rgba(255,255,255,0) 100%);
background: linear-gradient(90deg, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.6) 85%, rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}
}
@media screen and (max-width : 991px) {
#wrapper{
 width:720px;
}
.ak_num1, .ak_num4{
max-width:unset;
width:100%;
}
.ak_num2, .ak_num3{
max-width:unset;
width:100%;
}
}
@media screen and (max-width : 767px) {
#wrapper{
 width:540px;
}
}
@media screen and (max-width : 575px) {
#wrapper{
 width:320px;
}
.akcii-all-button{
display:block;
margin:15px 0 15px 0;
}
.akcii-wrap, .akcii-all {
    flex-direction: column;

}
.akciiya-container{
background-position: center center;
background-size:cover;
min-height:unset;
padding-right:10px;
}
.akcii-left-side{
	background: rgb(255,255,255);
background: -moz-linear-gradient(90deg, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.6) 85%, rgba(255,255,255,0) 100%);
background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.6) 85%, rgba(255,255,255,0) 100%);
background: linear-gradient(90deg, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.6) 85%, rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
padding:16px 0px 10px 15px;
}
}